force-app/main/default/flows/Create_121_Sessions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>CountAdd</name>
        <label>CountAdd</label>
        <locationX>228</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Number</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Weekly</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Count_Number</name>
        <label>Count = Number</label>
        <locationX>50</locationX>
        <locationY>437</locationY>
        <defaultConnector>
            <targetReference>Create_Session</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>count_equals_session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Number_of_Sessions_to_Create</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_screen</targetReference>
            </connector>
            <label>count equals session #</label>
        </rules>
    </decisions>
    <description>date/time now</description>
    <formulas>
        <name>DateFormula</name>
        <dataType>Date</dataType>
        <expression>{!First_Session_Date_and_Time}+({!Count}*7)</expression>
    </formulas>
    <formulas>
        <name>DateTimeFormula</name>
        <dataType>DateTime</dataType>
        <expression>{!First_Session_Date_and_Time}+({!Count}*7)</expression>
    </formulas>
    <formulas>
        <name>SessionName</name>
        <dataType>String</dataType>
        <expression>{!Get_Engagement.YPFullName__c} &amp; &quot;, 121: &quot;&amp;TEXT(DATEVALUE(({!First_Session_Date_and_Time})+({!Count}*7)))</expression>
    </formulas>
    <interviewLabel>Create 121 Sessions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create 121 Sessions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Attendance</name>
        <label>Create Attendance</label>
        <locationX>514</locationX>
        <locationY>621</locationY>
        <connector>
            <targetReference>CountAdd</targetReference>
        </connector>
        <inputAssignments>
            <field>Engagement__c</field>
            <value>
                <elementReference>EngagementID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>Create_Session</elementReference>
            </value>
        </inputAssignments>
        <object>Attendance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Session</name>
        <label>Create Session</label>
        <locationX>514</locationX>
        <locationY>436</locationY>
        <connector>
            <targetReference>Create_Attendance</targetReference>
        </connector>
        <inputAssignments>
            <field>LeadStaffMember1__c</field>
            <value>
                <elementReference>Get_Engagement.Contact__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SessionName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <elementReference>Get_Engagement.Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SessionDateTime__c</field>
            <value>
                <elementReference>DateTimeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </inputAssignments>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Engagement</name>
        <label>Get Engagement</label>
        <locationX>247</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Session_Creation_Home</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EngagementID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Engagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Final_screen</name>
        <label>Final screen</label>
        <locationX>59</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;All complete! Your 121 Sessions have been successfully created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Session_Creation_Home</name>
        <label>Session Creation Home</label>
        <locationX>434</locationX>
        <locationY>208</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Session</targetReference>
        </connector>
        <fields>
            <name>overviewtext</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Schedule weekly 121 Sessions for the young person by completing the questions below.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Session_Date_and_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>First Session Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_Sessions_to_Create</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>12.0</numberValue>
            </defaultValue>
            <fieldText>Number of Sessions to Schedule</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;How many 121 sessions will this young person have?&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>121</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Engagement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EngagementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
