force-app/main/default/flows/Service_Assignment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Is_Service_121</name>
        <label>Is Service 121?</label>
        <locationX>368</locationX>
        <locationY>210</locationY>
        <defaultConnector>
            <targetReference>Get_Services_of_Relevant_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>type_is_121</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>121</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OVerview</targetReference>
            </connector>
            <label>type is 121</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Service_121_0</name>
        <label>Is Service 121?</label>
        <locationX>664</locationX>
        <locationY>380</locationY>
        <defaultConnector>
            <targetReference>Create_Engagement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>type_is_121_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>121</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_121_Service_Record</targetReference>
            </connector>
            <label>type is 121</label>
        </rules>
    </decisions>
    <description>Allows users to link a YP to a particular service</description>
    <dynamicChoiceSets>
        <name>ServicesofTypeX</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Service__c</object>
        <outputAssignments>
            <assignToReference>ServiceID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Service__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ServiceName</name>
        <dataType>String</dataType>
        <expression>{!Get_YP_Contact_ID.Name} &amp; &quot;: &quot;&amp; &quot;121 Service,&quot; &amp; &quot; &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>ServiceStartDateifNOTnull</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!When_will_the_young_person_start_engaging_with_the_service}),NULL, {!When_will_the_young_person_start_engaging_with_the_service})</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Service Assignment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Assignment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_121_Engagement</name>
        <label>Create 121 Engagement</label>
        <locationX>197</locationX>
        <locationY>489</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>YPID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <elementReference>Create_121_Service_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Consent</stringValue>
            </value>
        </inputAssignments>
        <object>Engagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_121_Service_Record</name>
        <label>Create 121 Service Record</label>
        <locationX>476</locationX>
        <locationY>480</locationY>
        <connector>
            <targetReference>Create_121_Engagement</targetReference>
        </connector>
        <inputAssignments>
            <field>LeadStaffMember1__c</field>
            <value>
                <elementReference>Get_YP_Contact_ID.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ServiceName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate__c</field>
            <value>
                <elementReference>ServiceStartDateifNOTnull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>121</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Engagement</name>
        <label>Create Engagement</label>
        <locationX>676</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>YPID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EngagementStartDate__c</field>
            <value>
                <elementReference>When_will_the_young_person_start_engaging_with_the_service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <elementReference>ServiceID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Consent</stringValue>
            </value>
        </inputAssignments>
        <object>Engagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Services_of_Relevant_Type</name>
        <label>Get Services of Relevant Type</label>
        <locationX>618</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Sub_Selection</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ServiceDescription__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_YP_Contact_ID</name>
        <label>Get YP Contact ID</label>
        <locationX>74</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_a_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>YPID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Assign_to_a_Service</name>
        <label>Assign to a Service</label>
        <locationX>162</locationX>
        <locationY>353</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Service_Selection</targetReference>
        </connector>
        <fields>
            <name>Homepage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(8, 8, 8);&quot;&gt;To assign this young person to a Service, such as a group or one-to-one, click &apos;Next&apos; below&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OVerview</name>
        <label>OVerview</label>
        <locationX>501</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Service_121_0</targetReference>
        </connector>
        <fields>
            <name>DetailPage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(211, 14, 178);&quot;&gt;The system will now create an Engagement record to link the young person to the relevant Service.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;If you have made an incorrect selection, please press the &apos;Previous&apos; button to go back and edit your choices.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;If you&apos;re happy with your choice, please click &apos;Next&apos; to continue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Selection</name>
        <label>Service Selection</label>
        <locationX>232</locationX>
        <locationY>208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Service_121</targetReference>
        </connector>
        <fields>
            <name>SelectService</name>
            <fieldText>&lt;p&gt;Please select from the list below the type of service you&apos;d like to assign this young person to:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Service_Type</name>
            <choiceReferences>ServiceTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>When_will_the_young_person_start_engaging_with_the_service</name>
            <dataType>Date</dataType>
            <fieldText>When will the young person start engaging with the service?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Sub_Selection</name>
        <label>Service Sub Selection</label>
        <locationX>759</locationX>
        <locationY>246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OVerview</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_relevant_Service_from_the_options_below</name>
            <choiceReferences>ServicesofTypeX</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the relevant Service from the options below:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;A list of active Service records that match the &apos;type&apos; you selected&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NoServices</name>
            <fieldText>&lt;p&gt;&lt;i&gt;If you do not see any Services listed above, this is because no Services of the relevant type with a future or unspecified &apos;end date&apos; have been found. &lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;You may wish to review the existing Service records or create a new one. &lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>388</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Successmessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(182, 7, 141);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Success!&lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You have now created an &apos;Engagement&apos; record to link the young person to the relevant service. You can view this in the &apos;Related&apos; section of their Contact page.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>40</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>Get_YP_Contact_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ServiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>YPID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
